@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@500&family=Montserrat:wght@300;400;600;700&family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

:root{
  --primary: #117050
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #111;
}
header .line{
  background-color: var(--primary);
  height: 12px;
}
.button{
  display: inline-block;
  padding: 10px 36px;
  border: 2px solid #454545;
  border-radius: 3px;
  color: #454545;
}
.button:hover{
  background-color: #454545;
  color: #ddd;
}

.container{
  max-width: 1140px;
  margin: auto;
}
.header--area{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header--left img{
  width: 64px;
}
.header--right{
  display: flex;
  align-items: center;
}
.header--search form{
  display: flex;
}
.header--search input{
  font-size: 16px;
  padding: 8px 14px;
  border: 1px solid #999;
  outline: none;
  width: 100%;
  max-width: 250px;
}
.header--search input::placeholder{
  color: #999;
}
.header--search button{
  border: 0;
  background: transparent;
  margin-left: -30px;
  cursor: pointer;
}
.header--search button img{
  width: 16px;
  height: 16px;
}
.header--menu{
  margin-left: 50px;
  cursor: pointer;
}
.header--menu img{
  width: 24px;
  height: 24px;
}

.banner{
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 90px 0px;
}
.banner h1{
  font-size: 6rem;
  font-weight: bold;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  margin-bottom: 30px;
}
.banner--images{
  margin-top: 60px;
}
.banner--images img{
  width: 148px;
  height: 148px;
  border-radius: 999px;
  border: 5px solid var(--primary);
  margin: 0px 10px;
}

.area--content-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.area--content{
  padding: 70px 170px;
}
.area--content-line{
  width: 168px;
  height: 22px;
  background-color: var(--primary);
  margin: 16px 0px;
}
.area--content h1{
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.2;
}
.area--content span{
  font-style: italic;
  display: block;
  margin-top: 25px;
}
.area--content p{
  line-height: 1.6;
  margin-bottom: 30px;
  margin-top: 25px;
}

.area1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.area1 .area--content p{
  margin-bottom: 50px;
}
.area1--img1{
  background-image: url(../images/f2.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}
.area1--img2{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url(../images/f1.jpg);
  background-size: cover;
  background-position: center;
}

.area2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.area2--img1{
  background-image: url(../images/f3.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.area2--img2{
  background-image: url(../images/f4.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
}

.area3{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.area3--img1{
  background-image: url(../images/f5.jpg);
  background-size: cover;
  background-position: center;
  height: 770px;
}
.area3 .area--content-flex{
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  background-position: left;
}

.area4{
  display: grid;
  grid-template-columns: 500px 1fr;
  background-color: #e8e9ee;
}
.area4 .area--content{
  padding: 0px 0px;
  margin-left: 180px;
}
.area4--img1{
  background-image: url(../images/bg3.jpg);
  background-size: cover;
  background-position: center;
  height: 770px;
}
.area5{
  background-image: url(../images/bg4.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  padding-left: 8%;
}
.area5 img{
  width: 220px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #999;
  height: 200px;
  background-color: #333;
}
footer a{
  color: #ddd;
}
footer p{
  margin: 20px;
}

@media (max-width: 1140px){
  .container{
    padding: 0px 30px;
  }
  .area--content{
    padding: 40px 60px;
  }
  .area4 .area--content{
    padding: 40px 60px;
    margin-left: 0px;
  }
}

@media (max-width: 771px) and (min-width: 500px){
  .area1{
    grid-template-columns: 2fr 1fr
  }
  .area2{
    grid-template-columns: 1fr 2fr
  }
  .area3{
    grid-template-columns: 2fr 1fr
  }
  .banner h1{
    font-size: 4.5rem;
  }
  .banner--images img{
    width: 100px;
    height: 100px;
    border-radius: 999px;
    border: 4px solid var(--primary);
  }
  .area5 img{
    width: 160px;
  }
}

@media (max-width: 500px){
  .header--search input{
    max-width: 80px;
  }
  .banner h1{
    font-size: 3rem;
  }
  .banner--images img{
    width: 60px;
    height: 60px;
    border: 3px solid var(--primary);
    margin: 0px 5px;
  }
  .area4 .area--content{
    padding: 40px 20px;
  }
  .area--content{
    padding: 40px 30px;
  }
  .area1,
  .area2,
  .area3,
  .area4{
    grid-template-columns: 1fr
  }
  .area5 img{
    display: none;
  }
}